/* Global Layout Set-up */
* {
  box-sizing: border-box;
}
fieldset {
  border: 0 none;
  margin: 0 auto;
  padding: 5px 25px;
}

body {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  max-width: 95%;
  margin: 0 auto;

}

h2 {
  margin: 0 auto;
  padding: 5px 20px;
}

#hr_bold {
  border-top: solid 5px #292a41;
	width: 90%;
	margin: 0 auto 3px;
}

#hr_regular {
  border: solid 1px #292a41;
  width: 90%;
}

label {
  line-height: 2;
}

footer {
  text-align: center;
  font-style: italic;
}

input::-webkit-input-placeholder {
	font-style: italic;
	text-align: right;
	padding: 2px 10px;

	}


/* Focus Style */
*:focus {
    outline: none;
	}

input:focus, select:focus, textarea:focus {
	border: solid 2px #2d3944;
	transition: background-color 0.5s ease;
	background-color: #d3d3d3;
	color: #2d3944;
	}


/* Main Content Styles */

.header {
  text-align: center;
  background-color: #292a41;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}

.signup {
  text-align: center;
  margin: 0 auto;
  padding: 5px 10px;
}

#hr_bold {
  height: 5px;
  color: #292a41;
  background-color: #292a41;
  margin-top: 30px;
}

#hr_regular {
  height: 2px;
  color: #292a41;
  background-color: #292a41;
  margin-bottom: 15px;
}

input, select, textarea {
	width: 100%;
	background-color: #dedede;
	border: solid 2px transparent;
	border-radius: 5px;
	padding: 16px;
	margin-bottom: 10px;
	}

#state {
  border-radius: 5px;
  background: transparent;
   -webkit-appearance: none;
   background-color: #dedede;
}

#zip {
  width: 40%;
  display: block;
}

fieldset#newsletter input {
		width: 30px;
	}

#other_topics {
  width: 100%;
  border: none;
  background-color: #dedede;
  border-radius: 5px;
  height: 100px;
}

button {
  width: 90%;
  border-radius: 5px;
  background-color: #42aba8;
  color: #fff;
  border: none;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  height: 75px;
  transition: background-color 0.5s ease;
  margin: 0 auto;
}

button:hover {
  background-color: #328a9d;
}

/* Media Query */

@media (min-width: 760px) {

.wrapper {
  width: 600px;

}
hr {
  width: 60%;

}

fieldset#contact label {
  display: block;
  float: left;
  clear: both;
  margin-right: 20px;
}

fieldset#contact input, select  {
		width: 400px;
    display: block;
    float: right;
	}

  #zip {
    width: 20%;
  }

  button {
		width: 95%;
	}
}
